@import "tailwindcss";

/* Cấu hình màu sắc tùy chỉnh cho Tailwind v4 */
@theme {
  --color-aio-blue: #1e40af;
  --color-aio-green: #84cc16;
  --color-aio-bg: #f8fafc;
}

/* Ép buộc nền trắng và chữ đen */
body {
  background-color: white !important;
  color: black;
}